{{#partial "content"}}

    <div class="bg-success jumbotron text-center">
        <h4 text-success>Post successfully submited</h4>
        <button class="btn btn-warning btn-lg">
            <a href="/"> Go Home</a>
        </button>



    </div>

{{/partial}}

{{> layout.hbs}}