<!DOCTYPE html>
<html>
<head>
    <title>Wildlife Tracker v1.0</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

</head>
<body class="bg-danger">
<!--begin main template-->
<div class="container ">
    <div class="row">
        {{#block "content" }}

        {{/block }}


    </div>


</div>
<!--end main template-->
{{#block "footer" }}
    </body>
    </html>
{{/block }}