<!DOCTYPE html>
<html>
<head>
    <title>Wildlife Tracker Forest Service</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<!--begin main template-->
<div class="container ">
    <div class="row">
        {{#block "content" }}

        {{/block }}


    </div>


</div>
<!--end main template-->
{{#block "footer" }}
    </body>
    </html>
{{/block }}